.container-login {
    display: flex;
    height: 100vh;
    font-family: "Nunito";
}

.left-side {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    background-color: #14346c;
}

.right-side {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.title-left {
    font-size: 50px;
    color: white;
    padding: 50px;
    margin-bottom: 0px;
    line-height: 1;
}

.p-left {
    font-size: 20px;
    color: white;
    padding: 50px;
    margin-top: -90px;
    margin-right: 50px;
    line-height: 1.5;
}

.p-right {
    margin-top: 0px;
    margin-bottom: 50px;
    line-height: 2;
    font-size: 13px;
    color: #445462;
}

.title-color {
    color: #14346c;
}

.title-color-u {
    color: rgb(255, 115, 0);
}

.header-login {
    margin-top: 400px;
    margin-bottom: 500px;
    text-align: center;
    font-size: 18px;
    display: block;
}

.title-login {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px;
    color: #445462;
    text-align: center;
}

.header-login button {
    max-width: 341px;
}