.enter-button {
    width: 106%;
    padding: 0.9em;
    border: 1px rgb(119, 119, 119);
    border-radius: 7px;
    color: gray;
    border: none;
}

.enter-button:disabled {
    background-color: rgb(214, 214, 214);
}

.enter-button:enabled {
    background-color: #14346c;
    color: white;
    cursor: pointer;
}